.statePath {
  stroke-width: 1.5;
  cursor: pointer;
  stroke: #000000ff;
}

.statePath:hover {
  fill: var(--hover-fill) !important;
  stroke-width: 2;
  stroke: rgb(75, 63, 63);
}

.USMap {
  width: 100vw;
  height: 100vh;
}
